.item {
  display: flex;
  gap: 16px;
}

.wrapper {
  width: 64px;
  height: 64px;
  background-position: center;
  background-size: cover;
  background-color: #f2f4f5;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
