.slider {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.arrow {
  background: none;
  cursor: pointer;
  border: none;
}

.arrow:disabled {
  cursor: auto;
}
.arrow:disabled:hover {
  background: none;
}
